a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    color: inherit;
    font-family: sans-serif;
}

a {
    cursor: pointer;
}

.header {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    width: 100%;
}

.header__right,
.header__left {
    display: flex;
    align-items: center;
}

.header__phone,
.header__email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__left img {
    width: 100%;
}

.header__left a {
    margin-right: 20px;
}

.header__left span {
    max-width: 180px;
    color: #272727;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.header__phone {
    margin-right: 50px;
}

.header__email {
    margin-right: 100px;
}

.header__phone span,
.header__email span {
    color: #272727;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 18.2px */
}

.header__phone a,
.header__email a {
    color: #005BE2;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-top: 8px;
}

.header__connect {
    color: #005BE2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.48px;
    padding: 15px 30px;
    border-radius: 8px;
    border: 2px solid #005BE2;
    transition: 0.3s all;
}

.header__connect:hover {
    background: #005BE2;
    color: #FFF;
}

.header__menu,
.header__connect--mobile {
    display: none;
}

.header__navigate {
    border-radius: 8px;
    background: linear-gradient(90deg, #005BE2 0%, #43A5FF 100%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__navigate a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
    border-right: 1px solid #4485E8;
    padding: 23px 50px;
    white-space: nowrap;
    transition: 0.3s all;
    background-position: center top -2px;
    background-repeat: no-repeat;

}

.header__navigate a:hover {
    color: #A1C7FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='13' viewBox='0 0 22 13' fill='none'%3E%3Cpath d='M9.58578 11.5858L1.41421 3.41421C0.154284 2.15428 1.04662 0 2.82843 0H19.1716C20.9534 0 21.8457 2.15429 20.5858 3.41422L12.4142 11.5858C11.6332 12.3668 10.3668 12.3668 9.58578 11.5858Z' fill='white'/%3E%3C/svg%3E");
}

.header__navigate a:last-child {
    border-right: none;
}

.header__bottom {
    z-index: 2;
}
.main__slider{
    padding-top: 10px;
    overflow: hidden;
    margin-top: -10px;
    position: relative;
}
@media (max-width: 1100px) {
    .header__navigate a {
        padding: 23px 30px;
    }

    .header__email,
    .header__phone {
        margin-right: 20px;
    }
    .header__navigate {
        display: none;
    }

    .header__left a {
        margin-right: 10px;
    }

    .header__left {
        margin-right: 5px;
    }

    .header__phone,
    .header__email,
    .header__connect {
        display: none;
    }

    .header__menu,
    .header__connect--mobile {
        display: flex;
    }

    .header__email,
    .header__phone {
        margin-right: 20px;
    }

    .header__connect--mobile {
        margin-right: 10px;
    }
}


@media (max-width: 600px) {
    .header__left span {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
    }
}

/* main */

.main {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}

.main__slider img {
    width: 100%;
    margin-top: -10px;
    min-height: 400px;
}

.main__info {
    border-radius: 8px;
    background: #F2F5F8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 0 54px 0;
    margin-top: -10px;
    margin-bottom: 40px;
}

.main__info--part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__info--part > div {
    margin-right: 70px;
    display: flex;
    align-items: center;
}

.main__info--part > div > img {
    margin-right: 20px;
}

.main__info--part > div > span {
    max-width: 160px;
    color: #272727;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.main__info--part:first-child > div:first-child {
    margin-left: 20px;
}

.main__catalog h2 {
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    margin-bottom: 40px;
}

.main__catalog--container {
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main__catalog--container:hover {
    border: 1px solid #005BE2;
    transition: 0.3s all;
}

.main__catalog--list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.main__catalog--container p {
    color: #272727;
    margin-bottom: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.main__catalog--container ul {
    list-style-type: none;
    position: relative;
}

.main__catalog--container ul > li > a {
    text-decoration: none;
}

.main__catalog--container ul > li {
    margin-left: 23px;
    color: #5A5A5A;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 15px;
    transition: 0.3s all;
}

.main__catalog--container ul > li:hover {
    color: #005BE2;
}

.main__catalog--container ul > li:before {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg id='chevron-right (1) 2' clip-path='url(%23clip0_299_3457)'%3E%3Cpath id='Vector' d='M6.75 4.5L11.25 9L6.75 13.5' stroke='%23005BE2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_299_3457'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 0;
}

.main__catalog--container img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.main__catalog--img {
    height: 160px;
    margin-bottom: 20px;
}

/* footer */
.footer {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.footer__navigate,
.footer__info {
    width: 100%;
}

.footer__navigate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__navigate a {
    color: #272727;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 19.8px */
    transition: 0.3s all;
    margin-bottom: 20px;
}

.footer__navigate a:hover {
    color: #005BE2;
}

.footer__container {
    background: #F2F5F8;
    padding: 40px;
}

.footer__address {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__address > div {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    min-width: 160px;
}

.footer__address > div:last-child {
    margin-right: 0;
}

.footer__address a {
    color: #272727;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    white-space: nowrap;
}

.footer__address p {
    color: #272727;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    max-width: 160px;
}

.footer__address span {
    color: #5A5A5A;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 10px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__connect--mobile p,
.footer__connect p {
    color: #272727;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.footer__connect--mobile a,
.footer__connect a {
    color: #005BE2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.48px;
    padding: 15px 30px;
    border: 2px solid #005BE2;
    border-radius: 8px;
    transition: 0.3s all;
    text-decoration: none;
}

.footer__connect--mobile {
    display: none;
}

.footer__connect a:hover {
    color: #FFFFFF;
    background: #005BE2;
}

.footer__bottom {
    padding-top: 34px;
    border-top: 1px solid #D1D6DB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom img {
    max-width: 150px;
    width: 100%;
}

.footer__bottom span {
    color: #777;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

@media (max-width: 800px) {
    .footer__connect {
        display: none;
    }

    .footer__address {
        flex-direction: column;
    }

    .footer__address > div {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer__address > div:last-child {
        margin-bottom: 0;
    }

    .footer__info {
        align-items: flex-end;
    }

    .footer__connect--mobile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 30px;
    }

    .footer__connect--mobile a {
        margin-left: 30px;
    }

    .footer__container {
        padding: 30px;
    }
}

@media (max-width: 650px) {
    .footer__address a,
    .footer__connect--mobile p,
    .footer__navigate a,
    .footer__address p {
        font-size: 14px;
    }

    .footer__connect--mobile a {
        font-size: 12px;
        padding: 12px 20px;
    }

    .footer__address span {
        font-size: 12px;
    }

    .footer__address > div {
        min-width: initial;
    }

    .footer__bottom span {
        font-size: 10px;
    }

    .footer__bottom img {
        max-width: 115px;
    }
}

/* main*/
.main__catalog--quest {
    background: #F2F5F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}

.main__catalog {
    margin-bottom: 100px;
}

.main__catalog--quest img {
    margin-bottom: 20px;
}

.main__catalog--quest h2 {
    color: #005BE2;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    max-width: 360px;
    text-align: center;
}

.main__catalog--quest a {
    color: #005BE2;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.48px;
    padding: 15px 30px;
    border-radius: 8px;
    border: 2px solid #005BE2;
    transition: 0.3s all;
}

.main__catalog--quest a:hover {
    color: #FFFFFF;
    background: #005BE2;
}

.main__aboutNews {
    display: flex;
    padding-bottom: 100px;
    border-bottom: 1px solid #E7E7E7;
}

.news__main,
.main__aboutNews--text {
    width: 100%;
}

.main__aboutNews--text p {
    max-width: 570px;
    color: #5A5A5A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 30px;
    margin-right: 20px;
}

.main__aboutNews--text p:last-child {
    margin-bottom: 0;
}

.main__aboutNews h1,
.main__aboutNews h2 {
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    margin-bottom: 30px;
}

.news__main--container {
    display: flex;
}

.news__main--block {
    margin-right: 20px;
    width: 100%;
}

.news__main--block img {
    max-width: 100%;
    border-radius: 8px;
}

.news__main--block span {
    margin: 20px 0;
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.news__main--block a {
    color: #005BE2;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    max-width: 270px;
    transition: 0.3s all;
}

.news__main--block a:hover {
    text-decoration: underline;
}

.news__main--info {
    display: flex;
    flex-direction: column;
}

.main__client img {
    margin: 0 5px;
    max-width: 100%;
}

.main__client {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 60px 0 100px;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

/*catalog*/
.services,
.about,
.contact,
.gallery,
.сategory,
.catalog {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}

.services h1,
.about h1,
.contact h1,
.gallery h1,
.сategory h1,
.catalog h1 {
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    margin: 40px 0;
}

.breadcrumbs ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.breadcrumbs ul > li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumbs ul > li > span {
    color: #272727;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}

.breadcrumbs .breadcrumbs__divider {
    margin: 0 10px;
}

.breadcrumbs .breadcrumbs__active {
    color: #989898;
}

.category__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    transition: 0.2s all;
    cursor: pointer;
}

.сategory__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.category__card img {
    margin-bottom: 30px;
    max-width: 100%;
}

.category__card a {
    color: #272727;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 17.6px */
    text-decoration: none;
}

.category__card:hover {
    border: 1px solid #005BE2;
    transition: 0.2s all;
}

.category__card:hover a {
    color: #005BE2;
    transition: 0.2s all;
}

.pagination {
    margin: 40px 0 86px;
}

.pagination ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pagination ul > li {
    list-style-type: none;
    display: flex;
    margin-right: 5px;
}

.pagination ul > li > a {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 8px;
    border: 2px solid #E7E7E7;
    background: #FFF;
    color: #ABABAB;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
    letter-spacing: -0.54px;
}

.pagination ul > li > a:hover {
    transition: 0.3s all;
    border: 2px solid #005BE2;
    color: #005BE2;
}

.pagination ul > li > a.active {
    background: #005BE2;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

/* detail */
.product__tabs--container {
    margin-bottom: 80px;
}

.product__tabs--img {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

.product__tabs--img img {
    max-width: 100%;
    border-radius: 8px;
}

.product__tabs {
    display: flex;
    position: relative;
    margin-bottom: 3px;
}

.product__tabs li:not(:last-child) {
    margin-right: 7px;
}

.product__tabs li {
    list-style-type: none;
}

.product__tabs li a {
    text-decoration: none;
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #2D3033;
    opacity: 0.7;
    transition: all 0.3s;
    padding: 13px 22px;
    border-radius: 8px;
    border: 1px solid #E7E7E7;
}

.product__tabs li a:hover {
    border: 1px solid #005BE2;
    opacity: 1;
    color: #005BE2;
}

.product__tabs li.active a {
    border: 1px solid rgb(0, 91, 226, 0.2);
    background: rgb(0, 91, 226, 0.2);
    color: #005BE2 !important;
    opacity: 1;
}

.product__tabs--content {
    position: relative;
    z-index: 2;
    padding: 40px 0 0;
    background: white;
}

.product__tabs--panel {
    display: none;
}

.product__tabs--panel.active {
    display: block;
}

.swiper-pagination--fraction {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #2D3033;
    text-align: right;
    top: -34px;
    position: relative;
    z-index: 10;
}

.swiper-pagination--fraction span {
    font-size: 20px;
}

.swiper__detail .swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 12px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-weight: 600;
}

.swiper__detail .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2D3033;
    width: 40px;
    border: 1px solid rgba(45, 48, 51, 0.2);
    border-radius: 8px;
    height: 40px;
}

.swiper__detail, swiper-container {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    width: 100%;
}

.swiper__detail .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 30px;
    right: auto;
}

.swiper__detail .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 30px;
    left: auto;
}

.swiper__detail .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}

.swiper__detail .swiper-pagination {
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper__detail .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper__detail .swiper-pagination-bullet {
    height: 2px;
    display: inline-block;
    background: #2D3033;
    opacity: 0.2;
    border-radius: 4px;
    width: 20px;
}

.swiper__detail .swiper-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

.swiper__detail .swiper-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: inherit;
    box-sizing: content-box;
}

.swiper__detail .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

.swiper__detail .swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper__detail .swiper-slide, .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: flex;
}

.swiper__detail .swiper-pagination-bullet-active {
    opacity: 1;
    background: #FD6F08;
}

.swiper__detail .swiper-button-prev:after, .swiper__detail .swiper-rtl .swiper-button-next:after {
    content: "prev";
}

.swiper__detail .swiper-button-next:after, .swiper__detail .swiper-rtl .swiper-button-prev:after {
    content: "next";
}

@media (max-width: 1100px) {
    .swiper__detail .swiper-slide, .swiper-slide {
        justify-content: center;
    }

    .swiper__detail {
        margin-bottom: 30px;
    }

    .swiper__detail .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 0;
    }

    .swiper__detail .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 0;
    }
}

.category__container {
    display: flex;
    margin: 40px 0;
    flex-direction: column;
}

.category__container--detail {
    display: flex;
    margin: 40px 0;
}

.product__part--img img {
    border-radius: 8px;
}

.product__part--img img,
.swiper__detail {
    width: 100%;
}

.product__part--history {
    width: 70%;
}

.product__part--container {
    margin-left: 40px;
}

.product__part--container h1 {
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    letter-spacing: -0.96px;
}

.product__part--container p {
    color: #5A5A5A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.product__part--history a {
    color: #FFF;
    border-radius: 8px;
    background: #005BE2;
    padding: 14px 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.48px;
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
}

.product__tabs--right {
    display: flex;
}

.product__tabs--right img {
    width: 100%;
    max-width: 440px;
    border-radius: 8px;
}

.product__tabs--right p {
    color: #5A5A5A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 50px;
    max-width: 750px;
}

.product__tabs--description h2 {
    color: #272727;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    max-width: 1000px;
    margin-bottom: 60px;
}

.detail__workshops h2 {
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.96px;
    margin-bottom: 40px;
}

.detail__workshops--container {
    display: flex;
    align-items: center;
}

.detail__workshops--list {
    border: 1px solid #E7E7E7;
    min-height: 255px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    border-radius: 8px;
}

.detail__workshops--list:last-child {
    margin-right: 0;
}

.detail__workshops {
    margin-bottom: 100px;
}

.product__specifications--part {
    display: flex;
    justify-content: space-between;
}

.product__specifications--part p {
    color: #5A5A5A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
    margin-left: 50px;
    margin-bottom: 0;
}

.product__specifications--part span {
    color: #272727;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    width: 100%;
}

.product__tabs--specifications ul > li {
    list-style-type: none;
    padding: 20px;
    background: #F9F9F9;
    border: none;
}

.product__tabs--specifications ul > li:nth-child(2n) {
    background: #FFFFFF;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}

.product__manual--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #E7E7E7;
}

.product__manual--list:last-child {
    border-bottom: none;
}

.product__manual--left {
    display: flex;
    align-items: center;
}

.product__manual--info {
    margin-left: 20px;
}

.product__manual--info p {
    color: #2D3033;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    margin-bottom: 0;
}

.product__manual--info span {
    color: rgb(45, 48, 51, 0.5);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.product__manual--list a {
    color: #005BE2;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.42px;
    padding: 11px 30px;
    border-radius: 8px;
    border: 2px solid #005BE2;
}

.gallery__container,
.product__tabs--photo {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery__container img,
.product__tabs--photo img {
    max-width: 420px;
    width: 100%;
    border-radius: 8px;
}

.product__photo--name {
    color: #5A5A5A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}

/* conncect */

.contact__connection p {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.contact__connection span {
    color: #5A5A5A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-top: 20px;
    display: inline-block;
}

.contact__connection--mail span,
.contact__connection--mobile span {
    color: #005BE2;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.contact__connection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.contact__connection > div {
    padding: 40px;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
}

.contact__connection--address span {
    max-width: 200px;
}

.contact__connection--mobile,
.contact__connection--address,
.contact__connection--mail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact__connection img {
    margin-right: 40px;
}

.contact__address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact__address--quest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F5F8;
}

.contact__address--quest img {
    margin-bottom: 20px;
}

.contact__address--quest h2 {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.96px;
    color: #005BE2;
    max-width: 350px;
}
.contact__address--quest a{
    margin-top: 30px;
    padding: 14px 30px;
    border-radius: 8px;
    border: 2px solid #005BE2;
    color: #005BE2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: -0.48px;
}
.contact__address--map img {
    width: 100%;
}

.contact__list {
    margin-bottom: 100px;
}

/* about */
.about__us {
    max-width: 650px;
    margin: 60px auto 100px;
}

.about__us h2 {
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.96px;
    margin-bottom: 60px;
}

.about__us p {
    color: #5A5A5A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 30px;
}

.about__us--link {
    color: #005BE2;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
}

/* service */
.services__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 100px 0;
}

.services__card--info {
    padding: 40px;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
}

.services__card--img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 45px;
}

.services__card--img img {
    margin-right: 40px;
}

.services__card--img h3 {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.services__card--info p {
    color: #5A5A5A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.services__list {
    display: flex;
}

.services__client {
    margin-left: 20px;
    background: #F2F5F8;
    padding: 60px;
    max-width: 420px;
    border-radius: 8px;
}

.services__img {
    display: flex;
    align-items: center;
}

.services__img img {
    max-width: 100%;
    border-radius: 8px;
}

.services__client h2 {
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.96px;
}

.services__client p {
    color: #5A5A5A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 30px 0;
}

.services__client a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.48px;
    border: 1px solid #005BE2;
    border-radius: 8px;
    background: #005BE2;
    padding: 14px 30px;
    display: inline-block;
}
.about__gallery img{
    max-width: 100%;
}
@media (max-width: 1100px) {
    .contact__connection{
        grid-template-columns: 1fr 1fr;
    }
    .services__list {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 30px;
    }

    .services__client {
        margin-left: 0;
        max-width: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        margin-bottom: 30px;
    }

    .services__img img,
    .services__img {
        width: 100%;
    }

    .services__card {
        display: none;
    }
}
@media (max-width: 1000px) {
    .main__info--part {
        display: block;
    }

    .main__info--part:first-child > div:first-child {
        margin-left: 10px;
    }

    .main__info--part > div {
        margin-left: 10px;
        margin-bottom: 30px;
        margin-right: 10px;
    }

    .main__info--part > div > span {
        max-width: initial;
    }

    .main__info {
        justify-content: space-around;
        margin-bottom: 30px;
        padding: 40px 0 30px;
    }

    .main__catalog--list {
        grid-template-columns: repeat(2, 1fr);
    }

    .main__catalog--quest {
        padding: 60px;
    }

    .main__aboutNews {
        flex-direction: column;
    }

    .main__catalog h2 {
        margin-bottom: 30px;
    }

    .main__catalog {
        margin-bottom: 30px;
    }

    .main__aboutNews--text {
        margin-bottom: 30px;
    }

    .news__main--block {
        display: flex;
    }

    .news__main--block img {
        margin-right: 20px;
    }

    .main__client {
        grid-template-columns: repeat(3, 1fr);
        margin: 30px 0 60px;
    }

    .main__aboutNews {
        padding-bottom: 30px;
    }

    .news__main--container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .news__main--block {
        margin-bottom: 30px;
        margin-right: 0;
    }

    .news__main--block span {
        margin: 0 0 10px;
    }

    .news__main--block:last-child {
        margin-bottom: 0;
    }

    .сategory__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery__container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .header__top{
        margin: 25px 0 25px;
    }
    .main__slider img{
        margin-top: 0;
        object-fit: cover;
    }
}
@media (max-width: 900px) {
    .contact__connection {
        grid-template-columns: 1fr;
    }
    .contact__address--map{
        display: flex;
    }
    .contact__address--quest{
        padding: 40px;
    }
    .contact__address{
        display: flex;
        flex-direction: column-reverse;
    }
    .contact__list{
        margin-bottom: 30px;
    }
}
@media (max-width: 650px) {
    .about__main h1,
    .contact__list h1,
    .gallery h1,
    .catalog h1,
    .services__container h1 {
        font-size: 24px;
        margin: 30px 0;
    }
    .about__us{
        margin: 50px auto;
    }
    .about__us h2{
        font-size: 24px;
        line-height: 110%; /* 26.4px */
        letter-spacing: -0.72px;
        margin-bottom: 30px;
    }
    .about__us--link,
    .about__us p{
        font-size: 14px;
    }
    .services__client h2 {
        font-size: 24px;
        line-height: 110%;
        letter-spacing: -0.72px;
    }

    .services__client p {
        font-size: 14px;
    }

    .services__client {
        align-items: stretch
    }

    .services__client a {
        text-align: center;
    }

    .main__info--part > div > img {
        margin-right: 15px;
    }

    .main__info--part > div > span {
        color: #272727;
        font-size: 12px;
    }

    .main__catalog h2 {
        font-size: 24px;
        letter-spacing: -0.72px;
    }

    .main__catalog--list {
        grid-template-columns: 1fr
    }

    .main__catalog--quest {
        grid-column: span 1;
    }

    .main__catalog--container {
        align-items: center;
    }

    .main__catalog--container p {
        font-size: 16px;
    }

    .main__catalog--container ul > li {
        font-size: 14px;
    }

    .main__catalog--quest img {
        margin-bottom: 10px;
    }

    .main__catalog--quest a {
        padding: 12px 20px;
        font-size: 12px;
        letter-spacing: -0.36px;
    }

    .main__catalog--quest {
        padding: 40px;
    }

    .main__aboutNews--text h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .main__aboutNews--text p {
        font-size: 14px;
    }

    .main__aboutNews h2 {
        font-size: 24px;
    }

    .news__main--block img {
        max-width: 136px;
    }

    .news__main--block span {
        font-size: 12px;
    }

    .news__main--block a {
        font-size: 14px;
    }

    .сategory__list {
        grid-template-columns: 1fr;
    }

    .category__card a {
        font-weight: 600;
    }

    .pagination ul {
        justify-content: center;
    }

    .pagination {
        margin: 30px 0 40px;
    }
    .contact__connection p{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .contact__connection span{
        margin-top: 0;
        font-size: 14px;
    }
    .contact__connection--mail span, .contact__connection--mobile span {
        font-size: 20px;
    }
    .contact__address--quest img{
        margin-bottom: 10px;
    }
    .contact__address--quest h2{
        font-size: 24px;
        letter-spacing: -0.72px;
    }
    .contact__address--quest a{
        font-size: 12px;
        letter-spacing: -0.36px;
        padding: 12px 20px;
    }
    .contact__connection img{
        margin-right: 30px;
    }
    .contact__connection > div{
        padding: 30px;
    }
}
.header__menu{
    display: flex;
    flex-direction: column;
}
.header__navigation {
    z-index: 12;
    padding: 0 16px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    /* fade in checked menu */
}
.header__navigation .header__menu--checkbox {
    display: none;
}
.header__navigation label.header__menu--toggle {
    cursor: pointer;
}
.header__navigation .header__menu {
    padding: 27px 20px;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 388px;
    width: calc(100vw - 30px);
    height: 100%;
    -moz-transform: translate3d(450px, 0, 0);
    -o-transform: translate3d(450px, 0, 0);
    -ms-transform: translate3d(450px, 0, 0);
    -webkit-transform: translate3d(450px, 0, 0);
    transform: translate3d(450px, 0, 0);
    -moz-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    -webkit-transition: transform 0.35s;
    transition: transform 0.35s;
    z-index: 1;
    overflow: scroll;
    background-color: #FFFFFF;
}
.header__navigation .header__menu--overlay {
    background-color: rgba(103, 103, 103, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: none;
}
.header__navigation .header__menu--header>div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.header__navigation .header__menu .header__menu {
    -moz-transform: translate3d(480px, 0, 0);
    -o-transform: translate3d(480px, 0, 0);
    -ms-transform: translate3d(480px, 0, 0);
    -webkit-transform: translate3d(480px, 0, 0);
    transform: translate3d(480px, 0, 0);
}
.header__navigation .header__menu--checkbox:checked ~ .header__menu--overlay {
    display: block;
}
.header__navigation .header__menu--checkbox:checked ~ .header__menu {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.logo__mobile--menu{
    max-width: 140px;
    width: 100%;
}
.header__menu--header>div span{
    color: #272727;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 13px */
    margin: 0 15px;
}
.header__menu--header>div a{
    margin-right: 10px;
}
.header__menu--list li{
    list-style-type: none;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header__menu--list a{
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 21.6px */
    letter-spacing: -0.72px;
}
.header__menu--list{
    border-radius: 8px;
    background: linear-gradient(90deg, #005BE2 0%, #43A5FF 100%);
    padding: 40px;
}
.header__menu--list .mobile__contact p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 10px;
}
.header__menu--list .mobile__contact a{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
.contact__mobile{
    margin: 40px 0 0;
}
.mobile__contact{
    margin-bottom: 40px;
}
.header__menu,
body::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
}
.header__menu,
body::-webkit-scrollbar-thumb {
    background-color:  rgba(105, 105, 105, 0.5);
    border-radius: 20px;       /* закругления плашки */
}
.main__slider--img .main__slider--text{
    position: absolute;
}
.main__slider--text p{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 57.6px */
    letter-spacing: -1.92px;
    margin-bottom: 60px;
    max-width: 65%
}
.main__slider--text a{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.48px;
    padding: 15px 30px;
    border-radius: 8px;
    border: 2px solid #FFF;
    display: inline-block;
    text-decoration: none;
}
.main__slider--text{
    bottom: 40px;
    left: 60px;
}

@media (max-width: 1100px) {
    .main__slider--text p{
        color: #FFF;
        font-size: 48px;
        line-height: 90%; /* 57.6px */
        letter-spacing: -1.92px;
        margin-bottom: 40px;
        max-width: 65%
    }
    .main__slider--text a{
        color: #FFF;
        font-size: 14px;
        line-height: 130%; /* 20.8px */
        letter-spacing: -0.48px;
        padding: 12px 25px;
        border-radius: 8px;
        border: 2px solid #FFF;
        display: inline-block;
        text-decoration: none;
    }
}
@media (max-width: 850px) {
    .main__slider--text p{
        font-size: 32px;
        margin-bottom: 30px;
    }
    .main__slider--text a{
        font-size: 12px;
        padding: 12px 20px;
    }
    .main__slider--text{
        bottom: 30px;
        left: 30px;
    }
}